<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GuessTheNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C2FD2851D7F7D8C0096EFF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2FD29C1D7F7D8D0096EFF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C2FD2A71D7F7D8D0096EFF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
